{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/git",
    ["@semantic-release/exec", {
      "publishCmd": "echo \"${nextRelease.notes}\" > /tmp/release-notes.md && rm -rf node_modules && goreleaser release --clean --release-notes /tmp/release-notes.md"
    }]
  ]
}
